// COLORS
$primary-color: #25ffde; 
$secondary-color: #a3f1e8;

// NOT ACTUALLY WHITE COLOR BUT EASIER TO SWITCH COLORS THASN 
$white-color: #0e1821;

$dark-grey: #44535e;

$dark-blue-text: #d9ebe9; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
